Переменные:

- Date — день/месяц/год (с 01.12.2017 по 30.11.2018)
- Partner 1 — кол-во велосипедов, взятых в аренду в этот час в 1 партнерсом сервисе
- Partner 2 — кол-во велосипедов, взятых в аренду в этот час во 2 партнерсом сервисе
- Hour — час (от 0 до 24)
- Temperature — температура в градусах Цельсия
- Humidity — процент влажности
- Wind speed — скорость ветра м/сек
- Rainfall — осадки в виде дождя, мм
- Snowfall — осадки в виде снега, см
- Seasons — сезон (Winter, Spring, Summer, Autumn)
- Holliday — рабочий или праздничный день (Holiday/No holiday)
- Functional Day — рабочий или нерабочий день велопроката (Yes/No)

In [3]:
import pandas as pd
bikes = pd.read_csv('BikeData.csv')
bikes

,Date,Hour,Temperature,Humidity,Wind speed,Rainfall,Snowfall,Seasons,Holiday,Functioning Day,Partner 1,Partner 2
0,01/12/2017,0,-5.2,37,2.2,0.0,0.0,Winter,No Holiday,Yes,207,50
1,01/12/2017,1,-5.5,38,0.8,0.0,0.0,Winter,No Holiday,Yes,139,80
2,01/12/2017,2,-6.0,39,1.0,0.0,0.0,Winter,No Holiday,Yes,22,140
3,01/12/2017,3,-6.2,40,0.9,0.0,0.0,Winter,No Holiday,Yes,43,105
4,01/12/2017,4,-6.0,36,2.3,0.0,0.0,Winter,No Holiday,Yes,59,38
...,...,...,...,...,...,...,...,...,...,...,...,...
8755,30/11/2018,19,4.2,34,2.6,0.0,0.0,Autumn,No Holiday,Yes,467,177
8756,30/11/2018,20,3.4,37,2.3,0.0,0.0,Autumn,No Holiday,Yes,296,63
8757,30/11/2018,21,2.6,39,0.3,0.0,0.0,Autumn,No Holiday,Yes,571,665
8758,30/11/2018,22,2.1,41,1.0,0.0,0.0,Autumn,No Holiday,Yes,171,457
8759,30/11/2018,23,1.9,43,1.3,0.0,0.0,Autumn,No Holiday,Yes,442,401

In [3]:
bikes.head() # первые 5

,Date,Hour,Temperature,Humidity,Wind speed,Rainfall,Snowfall,Seasons,Holiday,Functioning Day,Partner 1,Partner 2
0,01/12/2017,0,-5.2,37,2.2,0.0,0.0,Winter,No Holiday,Yes,207,50
1,01/12/2017,1,-5.5,38,0.8,0.0,0.0,Winter,No Holiday,Yes,139,80
2,01/12/2017,2,-6.0,39,1.0,0.0,0.0,Winter,No Holiday,Yes,22,140
3,01/12/2017,3,-6.2,40,0.9,0.0,0.0,Winter,No Holiday,Yes,43,105
4,01/12/2017,4,-6.0,36,2.3,0.0,0.0,Winter,No Holiday,Yes,59,38

In [4]:
bikes.head(10) # первые n-колва

,Date,Hour,Temperature,Humidity,Wind speed,Rainfall,Snowfall,Seasons,Holiday,Functioning Day,Partner 1,Partner 2
0,01/12/2017,0,-5.2,37,2.2,0.0,0.0,Winter,No Holiday,Yes,207,50
1,01/12/2017,1,-5.5,38,0.8,0.0,0.0,Winter,No Holiday,Yes,139,80
2,01/12/2017,2,-6.0,39,1.0,0.0,0.0,Winter,No Holiday,Yes,22,140
3,01/12/2017,3,-6.2,40,0.9,0.0,0.0,Winter,No Holiday,Yes,43,105
4,01/12/2017,4,-6.0,36,2.3,0.0,0.0,Winter,No Holiday,Yes,59,38
5,01/12/2017,5,-6.4,37,1.5,0.0,0.0,Winter,No Holiday,Yes,75,98
6,01/12/2017,6,-6.6,35,1.3,0.0,0.0,Winter,No Holiday,Yes,144,23
7,01/12/2017,7,-7.4,38,0.9,0.0,0.0,Winter,No Holiday,Yes,394,89
8,01/12/2017,8,-7.6,37,1.1,0.0,0.0,Winter,No Holiday,Yes,227,626
9,01/12/2017,9,-6.5,27,0.5,0.0,0.0,Winter,No Holiday,Yes,91,147

In [5]:
bikes.tail() # последние 5

,Date,Hour,Temperature,Humidity,Wind speed,Rainfall,Snowfall,Seasons,Holiday,Functioning Day,Partner 1,Partner 2
8755,30/11/2018,19,4.2,34,2.6,0.0,0.0,Autumn,No Holiday,Yes,467,177
8756,30/11/2018,20,3.4,37,2.3,0.0,0.0,Autumn,No Holiday,Yes,296,63
8757,30/11/2018,21,2.6,39,0.3,0.0,0.0,Autumn,No Holiday,Yes,571,665
8758,30/11/2018,22,2.1,41,1.0,0.0,0.0,Autumn,No Holiday,Yes,171,457
8759,30/11/2018,23,1.9,43,1.3,0.0,0.0,Autumn,No Holiday,Yes,442,401

In [6]:
bikes.tail(10) # последние n-колва

,Date,Hour,Temperature,Humidity,Wind speed,Rainfall,Snowfall,Seasons,Holiday,Functioning Day,Partner 1,Partner 2
8750,30/11/2018,14,7.8,20,2.2,0.0,0.0,Autumn,No Holiday,Yes,490,444
8751,30/11/2018,15,7.0,20,3.3,0.0,0.0,Autumn,No Holiday,Yes,668,5
8752,30/11/2018,16,7.2,23,1.5,0.0,0.0,Autumn,No Holiday,Yes,750,528
8753,30/11/2018,17,6.0,29,2.1,0.0,0.0,Autumn,No Holiday,Yes,620,535
8754,30/11/2018,18,4.7,34,1.9,0.0,0.0,Autumn,No Holiday,Yes,676,524
8755,30/11/2018,19,4.2,34,2.6,0.0,0.0,Autumn,No Holiday,Yes,467,177
8756,30/11/2018,20,3.4,37,2.3,0.0,0.0,Autumn,No Holiday,Yes,296,63
8757,30/11/2018,21,2.6,39,0.3,0.0,0.0,Autumn,No Holiday,Yes,571,665
8758,30/11/2018,22,2.1,41,1.0,0.0,0.0,Autumn,No Holiday,Yes,171,457
8759,30/11/2018,23,1.9,43,1.3,0.0,0.0,Autumn,No Holiday,Yes,442,401

In [12]:
bikes.iloc[100:110] # срез середины, с 100 по 110

,Date,Hour,Temperature,Humidity,Wind speed,Rainfall,Snowfall,Seasons,Holiday,Functioning Day,Partner 1,Partner 2
100,05/12/2017,4,-7.2,34,3.0,0.0,0.0,Winter,No Holiday,Yes,18,22
101,05/12/2017,5,-7.4,33,2.6,0.0,0.0,Winter,No Holiday,Yes,55,37
102,05/12/2017,6,-7.4,34,3.2,0.0,0.0,Winter,No Holiday,Yes,41,133
103,05/12/2017,7,-7.5,33,2.2,0.0,0.0,Winter,No Holiday,Yes,152,342
104,05/12/2017,8,-8.1,36,1.6,0.0,0.0,Winter,No Holiday,Yes,144,47
105,05/12/2017,9,NaN,31,1.3,0.0,0.0,Winter,No Holiday,Yes,78,235
106,05/12/2017,10,-5.5,26,2.8,0.0,0.0,Winter,No Holiday,Yes,49,13
107,05/12/2017,11,-3.9,25,0.0,0.0,0.0,Winter,No Holiday,Yes,241,174
108,05/12/2017,12,-2.3,25,0.0,0.0,0.0,Winter,No Holiday,Yes,103,24
109,05/12/2017,13,-1.6,27,0.0,0.0,0.0,Winter,No Holiday,Yes,220,9

In [13]:
bikes.head(5)

,Date,Hour,Temperature,Humidity,Wind speed,Rainfall,Snowfall,Seasons,Holiday,Functioning Day,Partner 1,Partner 2
0,01/12/2017,0,-5.2,37,2.2,0.0,0.0,Winter,No Holiday,Yes,207,50
1,01/12/2017,1,-5.5,38,0.8,0.0,0.0,Winter,No Holiday,Yes,139,80
2,01/12/2017,2,-6.0,39,1.0,0.0,0.0,Winter,No Holiday,Yes,22,140
3,01/12/2017,3,-6.2,40,0.9,0.0,0.0,Winter,No Holiday,Yes,43,105
4,01/12/2017,4,-6.0,36,2.3,0.0,0.0,Winter,No Holiday,Yes,59,38

In [ ]:
# категориальные и номинальные переменные - переменные не кол-венные,словами, нельзя сравнить и т.д.

Фильтрация данных

In [14]:
bikes.columns

Index(['Date', 'Hour', 'Temperature', 'Humidity', 'Wind speed', 'Rainfall',
       'Snowfall', 'Seasons', 'Holiday', 'Functioning Day', 'Partner 1',
       'Partner 2'],
      dtype='object')

In [15]:
bikes.shape

(8760, 12)

In [16]:
bikes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8760 entries, 0 to 8759
Data columns (total 12 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Date             8760 non-null   object
 1   Hour             8760 non-null   int64
 2   Temperature      8581 non-null   float64
 3   Humidity         8760 non-null   int64
 4   Wind speed       8760 non-null   float64
 5   Rainfall         8760 non-null   float64
 6   Snowfall         8760 non-null   float64
 7   Seasons          8760 non-null   object
 8   Holiday          8760 non-null   object
 9   Functioning Day  8760 non-null   object
 10  Partner 1        8760 non-null   int64
 11  Partner 2        8760 non-null   int64
dtypes: float64(4), int64(4), object(4)
memory usage: 821.4+ KB

In [ ]:
# Non-Null Count - информация о пустых ячейках в таблицах
# Dtype - тип данных на этой строке (например, object это строка)

In [19]:
bikes['Hour'].unique() # метод для поиска уникальных значений в коллонке

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16,
       17, 18, 19, 20, 21, 22, 23], dtype=int64)

In [20]:
bikes['Seasons'].unique()

array(['Winter', 'Spring', 'Summer', 'Autumn'], dtype=object)

In [23]:
bikes[['Partner 1','Partner 2']]

      Partner 1  Partner 2
0           207         50
1           139         80
2            22        140
3            43        105
4            59         38
...         ...        ...
8755        467        177
8756        296         63
8757        571        665
8758        171        457
8759        442        401

[8760 rows x 2 columns]

In [25]:
bikes.iloc[124] # вызываем ряд через iloc

Date               06/12/2017
Hour                        4
Temperature              -3.4
Humidity                   75
Wind speed                0.0
Rainfall                  0.0
Snowfall                  0.4
Seasons                Winter
Holiday            No Holiday
Functioning Day           Yes
Partner 1                  36
Partner 2                   4
Name: 124, dtype: object

In [27]:
bikes.iloc[1212]['Partner 1'] # обращаемся к ряду, со значением Partner 1

185

In [5]:
bikes['Holiday'] == 'No Holiday'

0       True
1       True
2       True
3       True
4       True
        ...
8755    True
8756    True
8757    True
8758    True
8759    True
Name: Holiday, Length: 8760, dtype: bool

In [7]:
bikes['Holiday'][12] == 'No Holiday'

True

In [32]:
bikes[bikes['Holiday'] == 'Holiday'].shape

(432, 12)

In [34]:
bikes[(bikes['Holiday'] == 'Holiday') & (bikes['Temperature'] >= 15)].shape

(179, 12)

In [35]:
bikes[(bikes['Holiday'] == 'Holiday') | (bikes['Temperature'] >= 15)].shape

(4310, 12)

In [36]:
bikes[~((bikes['Holiday'] == 'Holiday') | (bikes['Temperature'] >= 15))].shape

(4450, 12)

In [39]:
bikes[(bikes['Holiday'] == 'No Holiday') & (bikes['Temperature'] >= 15) & (bikes['Seasons'] == 'Spring')].shape

(861, 12)

In [41]:
bikes['Temperature'].isna() # метод для поиска пропущенных ячеек

0       False
1       False
2       False
3       False
4       False
        ...
8755    False
8756    False
8757    False
8758    False
8759    False
Name: Temperature, Length: 8760, dtype: bool

In [43]:
bikes[bikes['Temperature'].isna()].shape

(179, 12)

In [49]:
bikes[bikes['Seasons'].isin(['Winter','Summer'])].shape # метод для поиска пренадлежности к нескольким условиям (к 2м и более)

(4368, 12)

In [51]:
bikes[bikes['Temperature'].isin(range(15,26))].shape # также по рядам фильтровка

(281, 12)

Сортировка данных

In [55]:
bikes['Temperature'].sort_values() # сортировка коллонки по возрастанию

1352   -17.8
1353   -17.5
1351   -17.5
1350   -17.4
1349   -16.9
        ...
8669     NaN
8679     NaN
8710     NaN
8717     NaN
8742     NaN
Name: Temperature, Length: 8760, dtype: float64

In [56]:
bikes['Temperature'].sort_values(ascending = False) # сортировка коллонки по убыванию

5848    39.4
5847    39.3
5849    39.0
5846    38.7
5825    38.0
        ...
8669     NaN
8679     NaN
8710     NaN
8717     NaN
8742     NaN
Name: Temperature, Length: 8760, dtype: float64

In [58]:
bikes.sort_values(by=['Temperature'])  # сортировка данных коллонки по убыванию

,Date,Hour,Temperature,Humidity,Wind speed,Rainfall,Snowfall,Seasons,Holiday,Functioning Day,Partner 1,Partner 2
1352,26/01/2018,8,-17.8,40,2.5,0.0,0.5,Winter,No Holiday,Yes,235,288
1353,26/01/2018,9,-17.5,37,3.8,0.0,0.5,Winter,No Holiday,Yes,76,26
1351,26/01/2018,7,-17.5,38,3.4,0.0,0.5,Winter,No Holiday,Yes,93,31
1350,26/01/2018,6,-17.4,40,1.6,0.0,0.5,Winter,No Holiday,Yes,33,18
1349,26/01/2018,5,-16.9,38,2.3,0.0,0.5,Winter,No Holiday,Yes,35,21
...,...,...,...,...,...,...,...,...,...,...,...,...
8669,27/11/2018,5,NaN,84,0.6,0.0,0.0,Autumn,No Holiday,Yes,118,58
8679,27/11/2018,15,NaN,70,2.1,0.0,0.0,Autumn,No Holiday,Yes,391,279
8710,28/11/2018,22,NaN,34,1.3,0.0,0.0,Autumn,No Holiday,Yes,476,558
8717,29/11/2018,5,NaN,34,0.9,0.0,0.0,Autumn,No Holiday,Yes,17,13
8742,30/11/2018,6,NaN,68,0.8,0.0,0.0,Autumn,No Holiday,Yes,11,155

In [64]:
bikes.sort_values(by=['Temperature'], ascending = False) # сортировка данных коллонки по убыванию

,Date,Hour,Temperature,Humidity,Wind speed,Rainfall,Snowfall,Seasons,Holiday,Functioning Day,Partner 1,Partner 2
5848,01/08/2018,16,39.4,39,2.5,0.0,0.0,Summer,No Holiday,Yes,76,126
5847,01/08/2018,15,39.3,37,2.3,0.0,0.0,Summer,No Holiday,Yes,401,441
5849,01/08/2018,17,39.0,41,2.6,0.0,0.0,Summer,No Holiday,Yes,298,554
5846,01/08/2018,14,38.7,38,2.4,0.0,0.0,Summer,No Holiday,Yes,158,96
5825,31/07/2018,17,38.0,36,1.3,0.0,0.0,Summer,No Holiday,Yes,320,147
...,...,...,...,...,...,...,...,...,...,...,...,...
8669,27/11/2018,5,NaN,84,0.6,0.0,0.0,Autumn,No Holiday,Yes,118,58
8679,27/11/2018,15,NaN,70,2.1,0.0,0.0,Autumn,No Holiday,Yes,391,279
8710,28/11/2018,22,NaN,34,1.3,0.0,0.0,Autumn,No Holiday,Yes,476,558
8717,29/11/2018,5,NaN,34,0.9,0.0,0.0,Autumn,No Holiday,Yes,17,13
8742,30/11/2018,6,NaN,68,0.8,0.0,0.0,Autumn,No Holiday,Yes,11,155

In [68]:
bikes.sort_values(by=['Temperature','Humidity']) # сортировка по двум коллонкам по возрастанию

,Date,Hour,Temperature,Humidity,Wind speed,Rainfall,Snowfall,Seasons,Holiday,Functioning Day,Partner 1,Partner 2
1352,26/01/2018,8,-17.8,40,2.5,0.0,0.5,Winter,No Holiday,Yes,235,288
1353,26/01/2018,9,-17.5,37,3.8,0.0,0.5,Winter,No Holiday,Yes,76,26
1351,26/01/2018,7,-17.5,38,3.4,0.0,0.5,Winter,No Holiday,Yes,93,31
1350,26/01/2018,6,-17.4,40,1.6,0.0,0.5,Winter,No Holiday,Yes,33,18
1349,26/01/2018,5,-16.9,38,2.3,0.0,0.5,Winter,No Holiday,Yes,35,21
...,...,...,...,...,...,...,...,...,...,...,...,...
5114,02/07/2018,2,NaN,97,0.8,2.0,0.0,Summer,No Holiday,Yes,9,14
5336,11/07/2018,8,NaN,97,0.8,0.0,0.0,Summer,No Holiday,Yes,537,384
6526,29/08/2018,22,NaN,97,2.1,4.5,0.0,Summer,No Holiday,Yes,0,17
2506,15/03/2018,10,NaN,98,1.2,0.0,0.0,Spring,No Holiday,Yes,27,19
6463,27/08/2018,7,NaN,98,0.5,2.0,0.0,Summer,No Holiday,Yes,73,103

In [70]:
bikes.sort_values(by=['Temperature','Humidity'], ascending = False) # сортировка по двум коллонкам по убыванию

,Date,Hour,Temperature,Humidity,Wind speed,Rainfall,Snowfall,Seasons,Holiday,Functioning Day,Partner 1,Partner 2
5848,01/08/2018,16,39.4,39,2.5,0.0,0.0,Summer,No Holiday,Yes,76,126
5847,01/08/2018,15,39.3,37,2.3,0.0,0.0,Summer,No Holiday,Yes,401,441
5849,01/08/2018,17,39.0,41,2.6,0.0,0.0,Summer,No Holiday,Yes,298,554
5846,01/08/2018,14,38.7,38,2.4,0.0,0.0,Summer,No Holiday,Yes,158,96
5825,31/07/2018,17,38.0,36,1.3,0.0,0.0,Summer,No Holiday,Yes,320,147
...,...,...,...,...,...,...,...,...,...,...,...,...
1238,21/01/2018,14,NaN,18,1.2,0.0,0.0,Winter,No Holiday,Yes,119,100
1910,18/02/2018,14,NaN,17,1.8,0.0,0.0,Winter,No Holiday,Yes,7,162
1886,17/02/2018,14,NaN,15,4.0,0.0,0.0,Winter,Holiday,Yes,0,58
3400,21/04/2018,16,NaN,13,3.3,0.0,0.0,Spring,No Holiday,Yes,1649,560
4276,28/05/2018,4,NaN,0,0.4,0.0,0.0,Spring,No Holiday,Yes,51,58

In [72]:
bikes.sort_values(by=['Temperature','Humidity'], ascending = [True, False]) # сортировка по двум коллонкам: 1) по возрастанию, 2) по убыванию

,Date,Hour,Temperature,Humidity,Wind speed,Rainfall,Snowfall,Seasons,Holiday,Functioning Day,Partner 1,Partner 2
1352,26/01/2018,8,-17.8,40,2.5,0.0,0.5,Winter,No Holiday,Yes,235,288
1351,26/01/2018,7,-17.5,38,3.4,0.0,0.5,Winter,No Holiday,Yes,93,31
1353,26/01/2018,9,-17.5,37,3.8,0.0,0.5,Winter,No Holiday,Yes,76,26
1350,26/01/2018,6,-17.4,40,1.6,0.0,0.5,Winter,No Holiday,Yes,33,18
1349,26/01/2018,5,-16.9,38,2.3,0.0,0.5,Winter,No Holiday,Yes,35,21
...,...,...,...,...,...,...,...,...,...,...,...,...
1238,21/01/2018,14,NaN,18,1.2,0.0,0.0,Winter,No Holiday,Yes,119,100
1910,18/02/2018,14,NaN,17,1.8,0.0,0.0,Winter,No Holiday,Yes,7,162
1886,17/02/2018,14,NaN,15,4.0,0.0,0.0,Winter,Holiday,Yes,0,58
3400,21/04/2018,16,NaN,13,3.3,0.0,0.0,Spring,No Holiday,Yes,1649,560
4276,28/05/2018,4,NaN,0,0.4,0.0,0.0,Spring,No Holiday,Yes,51,58

Работа в Excel

Формулы и функции

1. =A1*$F$1 : Фиксация к 1 ячейке повсеместно.
2. =СУММ(B1:B5) : Суммарная общая цена.
3. Fx : Мастер функций (все функции там).